---
{{frontmatter}}
---

import {
  BlueprintImportCard,
  Inputs,
  Requirement,
  Changelog,
} from '/src/components/library_docs'

<BlueprintImportCard
  category='automations'
  id='{{id}}'
  library='{{library}}'
  release='{{release}}'
/>

<br />

## Description

{{description}}

## Requirements

## Inputs

<Inputs category='automations' id='{{id}}' library='{{library}}' release='{{release}}' />

## Changelog

<Changelog category='automations' id='{{id}}' library='{{library}}' release='{{release}}' />
